@model Client  
 
<div class="content-wrapper">
          <div class="row">
           
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Create Client</h4>
                  
                  <form class="forms-sample" method="post">
                    <div class="form-group">
                      <label asp-for="Name">Name</label>
                      <input asp-for="Name"  class="form-control"  placeholder="Name">
                      <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                     <div class="form-group">
                      <label asp-for="Surname">Surname</label>
                      <input asp-for="Surname"  class="form-control"  placeholder="Surname">
                      <span asp-validation-for="Surname" class="text-danger"></span>
                    </div>
                     <div class="form-group">
                      <label asp-for="Message">Message</label>
                      <input asp-for="Message"  class="form-control"  placeholder="Message">
                      <span asp-validation-for="Message" class="text-danger"></span>
                    </div>
                     <div class="form-group">
                      <label asp-for="ProfessionId">Profession</label>
                    @*  <select asp-for="ProfessionId"> 
                          <option selected disabled>Select Profession</option>

                          @foreach (Profession profession in ViewBag.Professions)
                                {
                                    <option value="@profession.Id"> @profession.Name</option>
                                }
                      </select>*@

                      <select asp-for="ProfessionId" asp-items="new SelectList(ViewBag.Professions,nameof(Profession.Id),nameof(Profession.Name))">
                           <option selected disabled>Select Profession</option>
                      </select>
                      
                      <span asp-validation-for="ProfessionId" class="text-danger"></span>
                      
                    </div>
                    @* <div class="form-group">
                      <label asp-for="Name">Name</label>
                      <input asp-for="Name"  class="form-control"  placeholder="Name">
                      <span asp-validation-for="Name" class="text-danger"></span>
                    </div>*@
                   
                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                    <a asp-action="index" asp-controller="client" class="btn btn-light">Cancel</a>
                  </form>
                </div>
              </div>
            </div>
           
          </div>
        </div>
